.header-row {
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
}

.contents-list {
    font-size: 20px;
    table-layout: fixed;
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: lightsteelblue;
    border-radius: .5rem;
    padding: 5px;
}

.contents-add {
    background-color: lightsteelblue;
    border-radius: .5rem;
    font-size: 20px;
    margin-bottom: 60px;
    margin-top: 30px;
    padding: 5px;

}
thead {
    text-align: left;
}


body {
    width: 1000px;
    margin: auto;

}

nav a {
    text-decoration: none;
    color: black;
    padding: 30px;
}

footer, .header-row {
    background-color: lightgray;
    border-radius: .5rem;
}

footer {
    position: fixed;
    width: 970px;
    bottom: 0;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 20px;
}

label {
    width: 20em;
    display: inline-block;
    text-align: right;
}

input[type="text"], select {
    width: 200px;
    box-sizing: border-box;
    height: 22px;
    margin-bottom: 5px;
}
input[type="submit"]{
    margin-left: 48%;
}

#message-block {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#message-block, #error-block {
    border-width: 1px;
    border-style: solid;
    border-radius: .25rem;
    line-height: 1.7rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
}
#error-block {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
